*{
    box-sizing:border-box;
    margin-left: center;
    margin-top: 3.5rem;
      
}

#begin-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    height: 50%;
    background-color: yellow;
    margin:auto;

.hide {
    display:none;
}
    
}
#start-button {
    background-color:blue;
    padding: 10px;
    margin:auto;
    width: 25%;
    color:white;
    justify-content: center;
    text-align:center;
    display:inline-block;
    font-size: 16px;
    cursor:pointer;
}
